body{
	margin: 0px;

	display: block;
		
	background: url(../Logo.jpeg);
	display: inline-block;
	background-position: 50% 230px ;
	position: center;
	background-size: 87% 270%;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;
	lighting-color: transparent;
	
	background-size: cover;


	padding-bottom:90%;
	
}


header{
	background-image: url(../bg.jpeg);
	background-position: center;

color: rgba(150,114,80,1);
background-color: rgba(0,0,0,1);

padding-top: 2%;
text-align: center;
border-style: outset;border-image: url(../bg.jpeg);
border-image-outset: all;
border-width:50px;
text-shadow: 2px 2px 3px rgba(100,100,100,1);


}
header>h1{

text-shadow: rgba(255,255,255,1);
}
#TITLE{
	margin-top: -2%;
	font-size: 55px;
	//font-weight: bolder;
	text-shadow: rgba(255,255,255,1);

}

 /*#BG{
	display: inline-block;
	opacity: 50%;
	position: center;
	position: absolute;
	width: 100%;
	display: 
}*/
nav{
	width: 100%;
	text-orientation: initial;
}

.links{
	margin: 30px;
	margin-top: 1px;
	
	text-decoration: none;
	padding:4%;
	background-color: rgba(120,120,120,0.5);
	font-size: 29px;
	
	border-style: outset;
	border-color: rgba(100,100,100,0.5);
	color: white;
	padding-top: 0.3%;padding-bottom: 0.3%;
	display: inline-flex;
	width:10vw;
	z-index: 0;
	justify-content: center;
	border-radius: 10px;
	text-align: center;

}
#active{
	background-color:rgba(120,120,120,0.9);

cursor: default;
        pointer-events: none;        
        text-decoration: none;
        text-decoration: underline;
}

.links:hover {
	text-decoration: underline;
	background-color: rgba(220,220,220,0.7);
}
#active:hover{
	text-decoration: underline;
	background-color: rgba(220,220,220,0.7);
}

p{
	color: white;
}
footer{
	color: rgba(140,104,70,1);
background-color: black;
position: absolute;
lighting-color: white;
 
  left: 0;
  bottom: 0;
  width: 100%;
height: 2%;
  text-align: right;
	
}

.pic
{
	float: left;
	height:50vh;
	vertical-align: middle;
	display: inline;
	border: 5px;
	border-style: inset;
	border-color: blanchedalmond;
	margin:15px;
}
.des>p{
	
	float: right;
	font-size: 30px;
	/*background-color: rgba(120,120,120,0.5);*/
    background-color: rgb(211, 202, 202);
	border-style:outset;
	border-width: 1px;
	border-color: black;
	color: black;
	margin-top: 0px;
	margin-left: 10px;
}
h3{
	color: white;
	background-color: rgb(68, 38, 38);
	width: 100%;
	font-size: 48px;
	margin-bottom: 0px;
	margin-top: 2px;
}
@keyframes example{
	0% {left:0px;}
	100% {left:400px;}
}
.pic:hover{
	transform: scale(1.5);
	transition: 0.5s;
	border-style: hidden;
	
}
#ankit>.des>.text>.pic{
	width: 40% ;
}
#ishan>.des>.text>.pic{
	width: 350px ;
}
#abc{
	background: black;
}
/*#harsh>.des>.text>.pic{
	width: 40% ;
}*/
iframe{
	
	display: inline-block;
	float: left;
	margin-right: 1%;
}
#first{
	padding: 1%;
	
}
#nd{
	margin-top:5%;
}
#ind>p{
	background-color: rgba(120,120,120,0.9);
	color: black;
	
}